{{!< default}} <div class="gh-viewport">

  {{> "nav"}}

  <main class="gh-main">
    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
  </main>

  {{> "footer"}}

  </div>