{{!< app}} <div class="container pt-16">
<div class="prose dark:prose-invert">
  <h1 class="display font-semibold text-3xl leading-8 tracking-tight text-gray-950 dark:text-gray-050 sm:text-4xl md:text-5xl lg:text-6xl text-pretty">Contact</h1>
</div>
<div class="grid grid-cols-1 gap-y-10 gap-x-8 md:grid-cols-2 items-center my-8 pb-16">
  <div>
    <dl class="space-y-4 text-base leading-7 text-gray-800 dark:text-gray-200">
      <div class="flex gap-x-4">
        <dt class="flex-none">
          <span class="sr-only">Email</span>
          <svg class="h-6 w-6 text-gray-800 dark:text-gray-200" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
            <path
              d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
          </svg>
        </dt>
        <dd><a href="mailto:hello@contraption.co">hello@contraption.co</a></dd>
      </div>
      <div class="flex gap-x-4">
        <dt class="flex-none">
          <span class="sr-only">Telephone</span>
          <svg class="h-6 w-6 text-gray-800 dark:text-gray-200" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
              clip-rule="evenodd" />
          </svg>
        </dt>
        <dd><a href="tel:+1-646-542-1133">+1-646-542-1133</a></dd>
      </div>
      <div class="flex gap-x-4">
        <dt class="flex-none">
          <span class="sr-only">Address</span>
          <svg class="h-6 w-6 text-gray-800 dark:text-gray-200" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.5 2.25a.75.75 0 000 1.5v16.5h-.75a.75.75 0 000 1.5h16.5a.75.75 0 000-1.5h-.75V3.75a.75.75 0 000-1.5h-15zM9 6a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H9zm-.75 3.75A.75.75 0 019 9h1.5a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM9 12a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H9zm3.75-5.25A.75.75 0 0113.5 6H15a.75.75 0 010 1.5h-1.5a.75.75 0 01-.75-.75zM13.5 9a.75.75 0 000 1.5H15A.75.75 0 0015 9h-1.5zm-.75 3.75a.75.75 0 01.75-.75H15a.75.75 0 010 1.5h-1.5a.75.75 0 01-.75-.75zM9 19.5v-2.25a.75.75 0 01.75-.75h4.5a.75.75 0 01.75.75v2.25a.75.75 0 01-.75.75h-4.5A.75.75 0 019 19.5z"
              clip-rule="evenodd" />
          </svg>
        </dt>
        <dd>
          169 Madison Ave. <br />
          Suite 2174 <br />
          New York, NY 10016 <br />
          USA
        </dd>
      </div>
    </dl>
  </div>
  <div class="h-full w-full bg-gray-500 dark:bg-gray-700 rounded-xl shadow overflow-hidden" style="min-height: 300px">
    <iframe width="100%" height="100%" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC6cvuzHJfDEuFnFImCrw2hyKu2Qa-hows&q=40.747157,-73.984165&zoom=12"
      allowfullscreen>
    </iframe>
  </div>
</div>