{{!< app}}

{{#post}}
  {{#if @page.show_title_and_feature_image}}
    {{> prose page=this h1="true"}}
  {{else}}
    <article class="gh-card {{post_class}} pt-8 pb-16 md:pb-24 lg:pb-36">
      <div class="container pt-16">
        <section class="prose prose-xl dark:prose-invert mx-auto max-w-2xl">
          {{content}}
        </section>
      </div>
    </article>
  {{/if}}
{{/post}}
