  @font-face {
    font-family: 'Helvetica Now Variable';
    src: url('https://fonts.contraption.co/helvetica-now-roman/font.woff2')
        format('woff2'),
      url('https://fonts.contraption.co/helvetica-now-roman/font.woff')
        format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'Helvetica Now Variable';
    src: url('https://fonts.contraption.co/helvetica-now-italic/font.woff2')
        format('woff2'),
      url('https://fonts.contraption.co/helvetica-now-italic/font.woff')
        format('woff');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
  }
