.prose h1,
.prose .h1 {
  @apply text-2xl;
  @apply lg:text-3xl;
  @apply font-semibold;
  @apply tracking-tight;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-semibold;
  @apply lg:text-2xl;
}

.prose h2 {
  @apply text-xl;
}

.prose h3 {
  @apply text-lg;
}

.prose blockquote {
  @apply text-gray-800 dark:text-gray-200;
}

.prose blockquote p:first-of-type::before {
  content: "";
}

.prose blockquote p:first-of-type::after {
  content: "";
}

.prose hr {
  @apply border-gray-300 dark:border-gray-700;
  @apply my-8;

}

.prose code {
  @apply text-gray-900 dark:text-gray-100;
  @apply bg-gray-100 dark:bg-gray-800;
  @apply rounded-sm;
  @apply px-1;
  @apply py-0.5;
  @apply font-mono;
  @apply text-sm;
}

.prose pre {
  @apply bg-gray-900 dark:bg-gray-900;
  @apply rounded-lg;
  @apply p-4;
  @apply overflow-x-auto;
}

.prose pre code {
  @apply bg-transparent;
  @apply text-gray-100;
  @apply p-0;
  @apply rounded-none;
  @apply text-sm;
}

.prose strong {
  @apply font-bold;
}