.prose h1,
.prose .h1 {
  @apply text-2xl;
  @apply lg:text-3xl;
  @apply font-semibold;
  @apply tracking-tight;
  font-family: 'Sohne', 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: -0.02em;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-semibold;
  @apply lg:text-2xl;
  font-family: 'Sohne', 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: -0.02em;
}

.prose h2 {
  @apply text-xl;
}

.prose h3 {
  @apply text-lg;
}

.prose blockquote {
  @apply text-gray-800;
}

.prose blockquote p:first-of-type::before {
  content: "";
}

.prose blockquote p:first-of-type::after {
  content: "";
}

.prose hr {
  @apply border-gray-300;
  @apply my-8;
}

.prose code {
  @apply text-gray-900;
  @apply bg-gray-100;
  @apply px-1;
  @apply py-0.5;
  @apply font-mono;
  @apply text-sm;
}

.prose pre {
  @apply bg-gray-900;
  @apply p-4;
  @apply overflow-x-auto;
}

.prose pre code {
  @apply bg-transparent;
  @apply text-gray-100;
  @apply p-0;
  @apply rounded-none;
  @apply text-sm;
}

.prose strong {
  @apply font-bold;
}
