@font-face {
  font-family: 'Soehne';
  src: url('https://fonts.contraption.co/klim/soehne-buch.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Soehne';
  src: url('https://fonts.contraption.co/klim/soehne-buch-kursiv.woff2')
    format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Soehne';
  src: url('https://fonts.contraption.co/klim/soehne-halbfett.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Soehne';
  src: url('https://fonts.contraption.co/klim/soehne-halbfett-kursiv.woff2')
    format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: block;
}
