@font-face {
  font-family: 'Tiempos Text';
  src: url('https://fonts.contraption.co/TiemposText/tiempos-text-vf-roman.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('https://fonts.contraption.co/TiemposText/tiempos-text-vf-italic.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: block;
}
