name: Validate Theme
on: [push, pull_request_target]
jobs:
  validate:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install Dependencies
        run: npm install
      - name: Pretest
        run: npm run pretest
      - name: Test
        run: npm run test
      - name: Build
        run: npm run build
      - name: Zip
        run: npm run zip
